.contained-button {
    background-color: #D1D0C5;
    color: #323437;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
}

.contained-button:hover {
    background-color: #FFFFC5;
}

@media screen and (min-width: 720px) {
    .contained-button {
        margin: 10px 0px;
    }
} 