.services-headings-container {
    position: relative;
    margin-top: 2em;
    width: 100%;
    max-width: 1200px;
}

.service-items-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.service-items {
    background-color: #232323;
}

@media screen and (min-width: 720px) {
    .service-items-container {
        flex-direction: row;
    }
}