.home-button {
    background-color: #323437;
    color: #D1D0C5;
    border: 1px solid #D1D0C5;
    padding: 5px 25px;
    margin: 10px 0;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s;
}

.home-button:hover {
    border: 3px solid #E2B714;
    background-color: #E2B714;
    color: #323437
    
}

@media screen and (min-width: 720px) {
    .home-button {
        margin: 0 10px;
    }
}