.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.type-writer {
    text-align: center;
    font-size: 1.5rem;
    color: #E2B714;
}

.Typewriter__wrapper {
    color: #E2B714;
}

.home-heading {
    text-align: center;
    font-size: 2.5rem;
    color: #D1D0C5
}

.home-header {
    margin-top: 3em;
}

@media screen and (min-width: 720px) {

    .home {
        position: relative;
        margin-top: 3rem;
    }

    .type-write {
        font-size: 3rem;
    }

    .home-heading {
        font-size: 4rem;
    }

}