.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    height: 230px;
}

.service-title {
    font-weight: normal;
}

.service-text {
    width: 200px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}