* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #323437;
    color: #D1D0C5;
    font-family: 'Poppins', sans-serif, helvetica;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

.bg-dark {
    background-color: #232323;
}

.test {
    text-align: center;
    position: relative;
    margin-top: 100px;
    font-size: 50px;
}